.channels-container
  - @channels.each do |channel|
    .channel-information
      = link_to channel.name, channel_path(channel)
      - if channel.videos.any?
        = image_tag channel.videos.first.uri_url(:thumb)
      - else
        動画は登録されていません。
