%p#notice= notice
.user-container
  .row.channel-info
    .covor-image
      = image_tag @channel.user.gravatar_url, class: "channel-image"
    .channel-name
      %h3 #{ @channel.name }
  .row.my-videos
    %h3 アップロードした動画
    = videos_link_to @channel.videos
