%p#notice= notice

%p
  = render partial: "my_menu", locals: {user: @user}

%p
  %b User:
  = @user.name
    %ul
    .dro-container
      %li
        - @user.my_favorite_channels.each do |channel|
          .channel-information
            = link_to image_tag(channel.videos.first.uri_url(:thumb)) channel_path(channel)
