.menu
  .user-menu
    %nav.home-menu.navbar-nav
      %ul.nav.navbar-nav
        %li.home
          = link_to "home", home_user_path
        %li.subscriptions
          = link_to "登録チャンネル", channels_path

.video-contents
  = render partial: "videos/index", locals: {videos: @user.videos}

%p#notice= notice
