%p#notice= notice
.container
  .row.my-menu.center-block
    = render partial: "my_menu"
  .row.playlists
    %ul.list-inline
      - current_user.playlists.each do |playlist|
        %li
          = link_to image_tag(playlist.videos.first.uri_url(:thumb)), playlist_path(playlist)
          = playlist.name
