.container.main-content
  .col-md-8.main
    #notice=notice
    .row.screen
      = video_tag @video.uri, controls:true, size:"730x408"
      %h2 #{ @video.title }

    = render "videos/video_info", video: @video

  .col-md-4.candidates
    = render "videos/candidates", videos: Video.recommends
