/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@mixin container-style{
  border: 1px solid hsl(180, 0%, 90%);
  margin-bottom: 10px;
}

html{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after{
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body{
 	background-color: #f1f1f1;
 	color: #222;
 	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 	font-weight: 300;
 	font-size: 15px;
}

video{
  background-color: black;
}

$screen-xs-min: 400px;
$screen-sm-min: 768px;
$screen-md-min: 992px;

@mixin home-button-default{
  display: block;
  text-indent: -5000px;
  background-position: center;
  padding: 0;
  height: 34px;
  margin-top: 8px;
  margin-right: 10px;
}

@media (min-width: $screen-xs-min){
  .home-button{
    @include home-button-default;
    background: no-repeat image-url("ito-tube-logo-xs.png");
    background-size: 60px 34px;
    width: 60px;
  }
  .video-menu{
    padding-left: 10px;
  }
}

@media (min-width: $screen-sm-min){
  .home-button{
    @include home-button-default;
    background: no-repeat image-url("ito-tube-logo.png");
    background-size: 125px 34px;
    width: 125px;
  }
}

header{
  a:hover{
    background-color: hsl(0, 0%, 80%);
  }

  border-bottom: 1px solid hsl(240, 20%, 95%);
  background-color: #fefefe;
  .container-fluid{
    .video-menu{
      margin-right: 15px; // offsetting navbar-margin in bootstrap (margin-left: -15px)
    }

    .search-bar{
      margin-top: 8px;
      padding: 0;
    }
    .user-menu{
      line-height: 49px;
      a {
        display: block;
      }
      img{
        border-radius: 70px;
      }
    }

    .user-description{
      display: none;
      position: absolute;
      right: 20px;
      width: 300px;
      @include container-style;
      background-color: hsl(0, 0%, 99%);
      z-index: 1;
      top: 50px;
      > *{
        margin: 10px;
      }
      ul{
        -webkit-padding-start: 0;
      }
      li{
        list-style: none;
      }
      .channel{
        .channel-info{
          min-height: 50px;
          margin-bottom: 10px;
        }
      }
    }
    .user-description:after{
      content: '';
      position: absolute;
      margin-left: 100px;
      border-top: 10px solid transparent;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      width: 0;
      height: 0;
      bottom: 100%;
    }
  }
} // header

.body{
  .container-fluid{
    background-color: hsl(0, 0%, 97%);
    padding: 0;
  }
}

.left-side-menu{
  display: none;
  background-color: #fefefe;
  margin-left: 0;
  border-right: 1px solid hsl(240, 20%, 95%);
  border-radius: 0;
  .glyphicon{
    color: white;
    background-color: red;
    padding: 2px;
  }

  li.home{
    background-color: red;
    color: white;
    margin: 10px 0 10px 0;
  }

  .category,.playlist{
    color: red;
    border-top: 1px solid hsl(0, 0%, 60%);
    font-size: 80%;
  }

  li.allchannnels{
    .glyphicon{
      color: white;
      background-color: hsl(0, 0%, 60%);
      padding: 2px;
    }
    .link a{
      margin-left: 10px;
    }
  }

  li.mychannel{
    .glyphicon{
      color: white;
      background-color: hsl(0, 0%, 60%);
      border-radius: 50%;
    }
  }

  li.subscriptions,.history,.later{
    .glyphicon{
      color: hsl(0, 0%, 60%);
      background-color: white;
      border-radius: 50%;
    }
  }

  li{
    padding: 3px;
    .link a{
      margin-left: 10px;
    }
  }
  .login a{
    color: white;
  }
}

.contents{
  background-color: hsl(0, 0%, 97%);
  padding: 0;
}
