.user-container{
  margin-left: 100px;
  margin-right: 100px;
  border: 1px solid #D0D0D0;
  background-color: #FCFCFC;

  .channel-info{
    margin: 10px;
  }

  .playlists, .my-videos, .high-reputated-videos, .subscribed-channel{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #D0D0D0;
    > div {
      margin-right: 10px;
    }
  }
  .covor-image{
    margin: 20px;
    background: linear-gradient(#D0D0D0, #E0E0E0);
  }
}
