@mixin container-border
{
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 5px;
}

.new-user input[type=text], input[type=email], input[type=password]
{
  @include container-border();
  width: 300px;
}

.my-page-menu ul
{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.playlists-container
{
  display: flex;
  justify-content: space-between;
}
