@mixin container-border
{
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 5px;
}

li
{
  list-style: none;
}

textarea, input[type=text]
{
  @include container-border();
  width: 100%;
}

.page-container
{
  display: flex;
  .watch-container
  {
    width: 63%;
  }
  .candidate-container
  {
    width: 20%;
    margin-left: 10px;
  }
}

.video-index-container, .channels-container
{
  display: flex;
  flex-wrap: wrap;
  @include container-border();
  width: 100%;

  .video-title
  {
    font-size: 200%;
    padding: 5px
  }
}

.drop-down-container
{
    display:flex;
}
.channel-container
{
  padding-bottom: 10px;
  .channel-information
  {
    display: flex;
    .interactions
    {
      margin-left: auto;
    }
  }
}

.information
{
  @include container-border();
  font-size: 30%;
  line-height: 120%;
}

.playlist
{
  display: flex;
  @include container-border();

  .add-plylist-action
  {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    .button
    {
      display: flex;
    }
  }
  .reputate-action-button
  {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    .button
    {
      display:flex;
      padding: 30px, 0px, 30px, 0px;
    }
  }
}

.playlist-actions
{
  margin-bottom: 10px;
  clear: both;
  .field
  {
    float:left;
  }
}

.floating-playlist-add-action-container
{
  margin-bottom: 10px;
}

.view-comments
{
  @include container-border();
}

.new-comments
{
  padding-bottom: 10px;
  clear: both;
  .action
  {
    position: relative;
    top: -10px;
    float: right;
  }
}
