// vide::global mixins
@mixin container-style
{
  border: 1px solid hsl(180, 0%, 90%);
  margin-bottom: 10px;
}

@mixin row-style{
  margin: 10px;
}

@mixin text-style{
  border: 1px solid hsl(180, 0%, 90%);
  border-radius: 5px;
  width: 100%;
}


// video::index styles
.video-upload{
  width: 350px;
  padding: 15px;
  margin: 0 auto;
}
.video-list{
  .subject, ul{
    margin-left: 10px;
  }
  li{
    margin: 10px 10px 10px 10px;
    height: 166px;
  }
}

// video::show styles
.main-content
{
  .main{
    .channel-playlist{
      @include container-style;
      .container-fluid{
        >.row{
          @include row-style;
        }
        .channel{
          border-bottom: 1px solid hsl(180, 0%, 90%);
          padding-bottom: 10px;
          .icon{
            margin-right: 10px;
          }
          .channel-container{
            margin-left: 60px;
            .subscribe-and-count{
              height: 34px;
              line-height: 31px;
              > *{
                display: inline-block;
                vertical-align: middle;
              }
              .count{
                border: 1px solid hsl(180, 0%, 90%);
                margin-left: -5px;
              }
            }

            .interaction-count{
              margin-left: 200px;
              position: relative;
              top: 100%;
              transform: translateY(100%);
            }

            .btn{
              color: white;
              background-color: red;
              font-style: oblique;
            }
          }
        }

        .playlist{
          position: relative;
          .acion{
            li{
              width: 50px;
            }
          }
          .reputation
          {
            .cancel{
              color: hsl(210, 100%, 60%);
            }
            li{
              width: 40px;
            }
          }
          .playlist-action-container{
            position: absolute;
            @include container-style;
            top: 50px;
            background-color: hsl(0, 0%, 97%);
            z-index: 1;
            > *{
              margin-left: 30px;
            }
            .new_playlist{
              margin-right: 10px;
              margin-bottom: 10px;
            }
            ul{
              padding: 0;
            }
            li{
              list-style: none;
            }
            form{
              #new_playlist_name{
                margin-bottom: 10px;
              }
              input[type=submit]{
                margin-left: auto;
              }
            }
            textarea{
              width: 100%;
            }
          }
        }
      }
    }

    .comments
    {
      @include container-style;
      .title{
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .new{
        textarea{
          @include text-style;
        }
      }

      .view{
        .comment{

        }
      }
    }
  }
}

.candidates{
  .information{
    margin-left: 130px;
  }
  li{
    height: 92px;
  }
}
