%p#notice=notice
.container
  .row.title
    %h3 #{@playlist.name}
  .row.playlist
    - @playlist.videos.each_with_index do |video, index|
      = video_tag video.uri, controls:true, size:"730x408", class:"playlist-video", id: index
